body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}

header {
    width: 100%;
}

main {
    clear:both;
    width: 100%;
}

section {
    clear: both;
    width: 80%;
    padding-left: 10%;

}

.circlehome {   
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 15em;
    width: 15em;
    background-color: #E1E4DD;
    border-radius: 50%;
  }

#cocktailsbutton {
    padding-left: 15em;
}

#logocircle {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 55.5em;
    padding-top: 10em;
    padding-bottom: 10em;
}