body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}

header {
    width: 100%;
}

main {
    clear:both;
    width: 100%;
}

section {
    clear: both;
    width: 80%;
    padding-left: 10%;

}

.circlehome {   
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 20%;
    background-color: #E1E4DD;
    border-radius: 50%;
  }

#cocktailsbutton {
    padding-left: 90%;
}

#cocktailsbutton {
    padding-right: 90%;
}

#logocircle {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}